@import url("https://fonts.googleapis.com/css2?family=Lilita+One&family=Nunito:wght@600;700;800;900&family=Sniglet:wght@400;800&display=swap");
@import "./styles/theme.css";
@import "./styles/paper.css";
@import "tailwindcss";                                                                                          

* {
  box-sizing: border-box;
}

html,
body,
#app {
  min-height: 100%;
}

body {
  margin: 0;
}
